/*
    Style sheet for the Parameters dialog - Used in QTParametersDialog
*/

QObject {
    font-family: Artifakt Element;
    font-size: 12px;
    font-weight: normal;
}

QPushButton {
    background-color: #e1e1e1;
    border-width: 2px;
    height: 18px;
    padding: 2px;
    font: QObject;
    border: 1px solid #999999;
    margin-right: 0px;
    min-width: 80px;
}

QPushButton:hover {
    background-color: #e5f1fb;
    border-width: 1px;
    border-color: #0078d7;
}

QPushButton:focus {
    border-width: 2px;
    border-color: #0078d7;
}

QToolButton {
    font: QObject;
    background-color: transparent;
    border: transparent;
    padding: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

QToolButton:hover {
    background-color: #B5D3E7;
}

QToolButton:on {
    background-color: #CFE2F3;
}

QToolButton:pressed {
    background-color: #6FA8DC;
}

/* Used when we Clear search filter or Undo an Expression */
QPushButton#ClearPushButton {
    background-color: transparent;
    border-width: 0px;
    border: none;
    padding: 0px;
    min-width: 16px;
}

QPushButton#ClearPushButton:hover {
    background-color: #e5f1fb;
    border: 1px solid #999999;
    border-width: 1px;
    border-color: #0078d7;
}

QFrame#FilterSeparator {
    color: rgb(190, 190, 190);
}

QLineEdit {
    border: 1px solid #999999;
    height: 18px;
    padding: 1px;
    font: QObject;
}

QCheckBox {
    border-radius: 2px;
    font: QObject;
    height: 14px;
    margin-right: 5px;
    spacing: 2px;
}

/* Used with the Add User Parameter Dialog - will be redundant when we switch to entering data via the tree */
QLineEdit#AddUserParameterDialog {
    border: 1px solid #999999;
    height: 18px;
    padding: 2px;
    font: QObject;
    margin-bottom: 0px;
}

QLabel {
    background-color: transparent;
    height: 18px;
    padding: 2px;
    font: QObject;
}

QComboBox {
    border: 1px solid #999999;
    height: 18px;
    padding: 2px;
    border-radius: 2px;
    font: QObject;
    margin-bottom: 0px;
}

QComboBox#UnitsComboBoxWindowsTransparent {
    background-color: transparent;
}

QComboBox#UnitsComboBoxMac {
    background-color: transparent;
    combobox-popup: 0;
    ScrollBar_Transient: 1;
}

/* Menu bars, Context menus and other popup menus text entries are black */
QMenu::item:enabled {
    color: rgb(0, 0, 0);
}
/* or grey */
QMenu::item:disabled {
    color: rgb(125, 125, 125);
}